.Animation {
    display: flex;
    height: 100%;
}

.animationContainer {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.AnimationPlayerBar {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    z-index: 998;
}

.controlButton {
    font-size: 1.2rem;
}

.downloadButton {
    position: absolute;
    right: 0;
    top: 0;
    --button-normal-color: hsl(0, 0%, 0%);
    z-index: 998;
}

.AnimationPlayer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animCanvas {
    z-index: 2;
    position: absolute;
}

.frameCollisionBoxCanvas {
    z-index: 1;
    position: absolute;
}

.toolMenu {
    /* display: flex; */
    overflow: auto;
    height: 100%;

    border-left: var(--border-color);
}

.toolMenu > div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.toolButton {
    width: 100%;
    --button-normal-color: hsl(0, 0%, 0%);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.overrideSymbolPopup {
    top: 5%;
    left: 30%;
}

.hideLayerPopup {
    top: 5%;
    left: 5%;
}
