.SelectColourCube {
    --button-normal-color: hsl(204, 85%, 40%);
    --button-hover-color: rgba(0, 0, 0, 0.1);
    --button-active-color: hsl(204, 85%, 30%);

    --button-normal-color-light: hsl(204, 85%, 96%);
    --button-hover-color-light: hsl(204, 85%, 93%);

    width: 100%;
    font-size: 1rem;

    border: none;
    outline: none;
    padding: 5px;

    text-align: center;

    cursor: pointer;
    user-select: none;
}

.SelectColourCube:active {
    color: var(--button-active-color);
}
