.App {
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content auto;
}

.ioBar {
    display: flex;
    align-items: center;
}

.inputFile {
    display: none;
}

.ioButton {
    width: 100px;
    margin: 10px;

    background-color: rgba(0, 0, 0, 0.1);
    --button-normal-color: black;
    --button-hover-color: rgba(0, 0, 0, 0.2);

    --button-active-color: hsl(204, 85%, 30%);

    border: solid 1px var(--border-color);
}

.ioButton div {
    font-size: 0.8rem;
}
