.App {
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content auto;
}

.unUse {
    pointer-events: none;
    opacity: 0.5;
}

.ioBar {
    display: flex;
    align-items: center;
}

.inputFile {
    display: none;
}

.ioButton {
    width: 100px;
    margin: 10px;

    background-color: rgba(0, 0, 0, 0.1);
    --button-normal-color: black;
    --button-hover-color: rgba(0, 0, 0, 0.2);

    --button-active-color: hsl(204, 85%, 30%);

    border: solid 1px var(--border-color);
}

.ioButton div {
    font-size: 0.8rem;
}

.normalButton {
    --button-normal-color: hsl(0, 0%, 0%);
    cursor: default;
}

.xmlName > input {
    outline: 0;
    border: 1px solid var(--border-color);
    padding: 0.4rem;
    width: 10rem;
    height: 1.5rem;
}

.xmlName > input:placeholder-shown {
    font-size: 13px;
}

.xmlName > input:focus {
    border: 1px solid hsl(204, 80%, 55%);
}
