.TexDataViewer {
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.atlasInfo {
    display: grid;
    grid-template-columns: 30rem 50rem auto;
}

.atlasInfo > div {
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;
}

.atlasInfo label {
    padding-left: 1rem;
    padding-right: 1rem;
}

.elementSelect {
    background: white;
    width: 100%;
    border: solid 1px var(--border-color);
    z-index: 3;
}

.elementInfo {
    width: 100%;
}

.elementInfo > div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 5rem;
    border-right: solid 1px var(--border-color);
    width: 12rem;
}

.elementNum {
    width: 15rem !important;
}

.texInfo {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
    display: grid;
    grid-template-columns: 20rem 8rem 8rem 13rem 16rem 16rem 10rem 8rem 8rem;
}

.texInfo > div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.texInfo label {
    padding-left: 1rem;
    padding-right: 1rem;
}

.atlasName > input {
    outline: 0;
    border: 1px solid var(--border-color);
    padding: 0.4rem;
    width: 100%;
}

.atlasName > input:placeholder-shown {
    font-size: 13px;
}

.atlasName > input:focus {
    border: 1px solid hsl(204, 80%, 55%);
}

.texViewer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background {
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
        linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tex {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texCanvas {
    z-index: 1;
    position: absolute;
}

.bboxCanvas {
    user-select: none;
    pointer-events: none;
    z-index: 2;
    position: absolute;
}
