.ColorPicker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ColorPicker input[type="color"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.colorPickerIcon {
    --button-normal-color: hsl(0, 0%, 0%);
}

.colorDiv {
    width: 100px;
    height: 20px;
}
