.DataViewer {
    width: 100%;
    height: 100%;
    overflow: auto;

    border-right: var(--border-color);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddButton {
    margin: 5px;
}

table {
    /* border: 2px solid rgb(200, 200, 200); */
    margin: 0 auto;
    letter-spacing: 1px;
    width: 100%;
    max-height: 100%;
    border-spacing: 0;
}

thead {
    position: sticky;
    top: 0;
}

th {
    text-align: center;
    background-color: rgb(235, 235, 235);
}

thead > tr > th {
    border: solid 1px rgba(0, 0, 0, 0.1);
}

td {
    text-align: center;
    border-collapse: collapse;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

td input[type="text"] {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5em 1em;
    text-align: center;
    box-sizing: border-box;

    background-color: transparent;

    outline: none;
}

input[readonly=""] {
    cursor: default;
}

.chosen_tr td {
    background-color: hsl(214 80% 55%);
}

.chosen_tr input[type="text"] {
    color: white;
}
