.Popup {
    position: fixed;

    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    padding: 0px 10px 0px 10px;

    height: auto !important;
}

.popupBody {
    display: flex;
    justify-content: center;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;

    --button-normal-color: hsl(341, 97%, 59%);
    --button-hover-color: hsl(0, 100%, 50%);
    --button-active-color: hsl(0, 72%, 44%);

    font-size: inherit;
    font-family: inherit;
}
