.resizeBar {
    --bar-width: 0.5rem;

    position: absolute;
    z-index: 1;
}

.vertical {
    height: var(--bar-width);

    top: calc(var(--bar-width) / -2);
    left: 0;
    right: 0;

    cursor: ns-resize;
}

.vertical:hover {
    background-color: hsl(206, 100%, 50%);
}

.horizontal {
    width: var(--bar-width);

    right: calc(var(--bar-width) / -2);
    top: 0;
    bottom: 0;

    cursor: ew-resize;
}

.horizontal:hover {
    background-color: hsl(206, 100%, 50%);
}
