.TextButton {
    --button-background-color: transparent;
    --button-normal-color: black;
    --button-hover-color: rgba(0, 0, 0, 0.1);
    --button-active-color: hsl(204, 85%, 30%);
    --button-font-size: 1rem;

    border: none;

    padding: 5px;

    color: var(--button-normal-color);
    background-color: var(--button-background-color);

    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.TextButton:hover {
    background-color: var(--button-hover-color);
}

.TextButton:active {
    color: var(--button-active-color);
}

.text {
    font-size: var(--button-font-size);
    text-align: center;
}

.checkBox {
    pointer-events: none;
}
