.Animation {
    display: flex;
    height: 100%;
}

.animationContainer {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.AnimationPlayerBar {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    z-index: 999;
}

.controlButton {
    font-size: 1.2rem;
}

.downloadButton {
    position: absolute;
    right: 0;
    top: 0;
    --button-normal-color: hsl(0, 0%, 0%);
    z-index: 998;
}

.animationProgress {
    flex: 1;
    /* width: 100%; */

    -webkit-appearance: none;
    appearance: none;

    padding-left: 10px;
    padding-right: 10px;
    height: 8px;
}

.progress {
    background-color: white;
    flex: 1;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.progressValue {
    background-color: hsl(204, 80%, 55%);
    height: 100%;
    border-radius: 2px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}

.animationProgress::-webkit-progress-bar {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26) inset;
}

.animationProgress::-webkit-progress-value {
    background-color: hsl(204, 80%, 55%);
    border-radius: 2px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}

.AnimationPlayer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animCanvas {
    z-index: 2;
    position: absolute;
}

.frameCollisionBoxCanvas {
    z-index: 1;
    position: absolute;
}

.toolMenu {
    /* display: flex; */
    overflow: auto;
    height: 100%;

    border-left: var(--border-color);
}

.toolMenu > div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.toolButton {
    width: 100%;
    --button-normal-color: hsl(0, 0%, 0%);
}

.colorPicker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorPickerIcon {
    --button-normal-color: hsl(0, 0%, 0%);
}

.collisionCheck {
    left: 10px;
    position: absolute;
}

input[type="color"] {
    border: none;
    width: 100px;
    height: 20px;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.overrideSymbolPopup {
    top: 5%;
    left: 30%;
}

.hideLayerPopup {
    top: 5%;
    left: 5%;
}
