.App {
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}

.ioBar {
    display: flex;
    align-items: center;
}

.inputFile {
    display: none;
}

.ioButton {
    font-size: 0.8rem;
    width: 100px;
    margin: 10px;

    background-color: rgba(0, 0, 0, 0.1);
    --button-normal-color: black;
    --button-hover-color: rgba(0, 0, 0, 0.2);

    --button-active-color: hsl(204, 85%, 30%);

    border: solid 1px rgba(0, 0, 0, 0.3);
}

.exportPopup {
    top: 10%;
    left: 40%;
}

.main {
    --border-color: solid 1px rgba(0, 0, 0, 0.3);

    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    .top {
        min-height: 10%;
        height: 50%;

        display: flex;
        .left {
            position: relative;
            height: 100%;

            min-width: 10%;
            width: 50%;

            border: var(--border-color);
        }
        .right {
            height: 100%;
            min-width: 10%;
            flex: 1;

            border-top: var(--border-color);
            border-right: var(--border-color);
            border-bottom: var(--border-color);
        }
    }

    .bottom {
        flex: 1;
        min-height: 10%;

        position: relative;

        border-left: var(--border-color);
        border-right: var(--border-color);
        border-bottom: var(--border-color);
    }
}
