/* div {
    border: black solid 1px;
} */

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    height: 100vh;
    margin: 0;
}

file-drop::before,
file-drop::after {
    opacity: 0;
    content: "";
    position: fixed;
    inset: 0;
    display: block;
    pointer-events: none;
    transition: 200ms;
    z-index: 999;
}

@media (prefers-reduced-motion: reduce) {
    file-drop::before,
    file-drop::after {
        transition: none;
    }
}

file-drop::before {
    background-color: black;
}

file-drop::after {
    border: 2px dashed white;
    border-radius: 1em;
}

file-drop.drop-valid:not(.waiting)::before {
    opacity: 0.5;
}

file-drop.drop-valid:not(.waiting)::after {
    opacity: 1;
    transform: scale(0.9);
}

:root {
    --md-text-button-container-shape: 0px;
}
