*,
*::after,
*::before {
    box-sizing: border-box
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: max-content max-content auto
}

.navigation {
    margin: auto;
    overflow: auto
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    white-space: nowrap
}

.navigation ul li {
    margin-right: 20px
}

.upper_lower {
    display: grid;
    grid-template-rows: 6fr 4fr;
    overflow: auto;
}

.upper,
.lower {
    overflow: auto
}

.upper {
    display: grid;
    grid-template-columns: 3fr 4fr
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 0.8vw;
    font-family: "Mona Sans","Mona Sans Fallback", "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    opacity: 1;
    position: sticky;
    top: 0;

    background-color: rgb(234, 234, 234)
}

.menu {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr max-content;

    height: 21px;
    border: rgb(208, 215, 222) solid 1px;
}

.menu .inputtext {
    overflow: auto;
    text-align: center;
    font-size: 0.8vw;
    background-color: transparent;
    border: none
}

.Area {
    background-color: rgb(243,246,252);
    border-radius: 10px;
    border: 2px solid rgb(193, 193, 193);
    margin: 5px;
}

#Builds {
    display: grid;
    grid-template-columns: 3fr 3fr 9fr 2fr;
    overflow: auto;
}

#Builds > div {
    height: 100%;
    overflow: auto;
    outline: 1px solid rgb(193, 193, 193);
}

.BuildFrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#Anims {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr 11fr;
    overflow: auto;
}

#Anims > div {
    height: 100%;
    outline: 1px solid rgb(193, 193, 193);
    overflow: auto;
}

.Animation {
    display: grid;
    grid-template-columns: 6fr 1fr
}

.AnimFrame {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
}

.AnimElement {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

#AnimationPlayer {
    display: grid;
    grid-template-columns: 8fr 1fr;
    overflow: auto;
}

#AnimationPlayer #Background {
    background-color: white;
    overflow: auto;
}

#PlayerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;

    height: 100%;
    width: 100%;
    transform: scale(1);
    /* background-color: black; */
}

#AnimationPlayer .menu_list {
    width: 100%;
    height: 100%;
}

.Layer {
    position: absolute;
}
